<% @page_title = "Create Stat" %>

<%= link_to("<< Back to List", stats_path(:page => params[:page])) %>

<div>
  <h2>Create Stat</h2>

  <%= form_for(@stat, :url => stats_path(@stat, :page => params[:page])) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f, :mode => :new}) %>

    <div>
      <%= f.submit("Create Stat") %>
    </div>

  <% end %>
</div>