<% @page_title = "Edit Form" %>

<%= link_to("<< Back to List", forms_path(:page => params[:page])) %>

<div>
  <h2>Edit Form</h2>

  <%= form_for(@form, :url => form_path(@form, :page => params[:page])) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f, :mode => :edit}) %>

    <div>
      <%= f.submit("Edit Form") %>
    </div>

  <% end %>
</div>