<% @page_title = "Create Form" %>

<%= link_to("<< Back to List", forms_path(:page => params[:page])) %>

<div>
  <h2>Create Form</h2>

  <%= form_for(@form, :url => forms_path(@form, :page => params[:page])) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f, :mode => :new}) %>

    <div>
      <%= f.submit("Create Form") %>
    </div>

  <% end %>
</div>