<% @page_title = "Edit Pokemon Ability" %>

<%= link_to("<< Back to List", abilities_pokemons_path(:pokemon_page => params[:pokemon_page], :stat_page => @stat_page, :pokemon_id => params[:pokemon_id])) %>

<div>
  <h2>Edit Pokemon</h2>

  <%= form_for(@abilities_pokemon, :url => abilities_pokemon_path(@abilities_pokemon, :pokemon_page => params[:pokemon_page], :ability_page => @ability_page, :pokemon_id => params[:pokemon_id])) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f, :mode => :edit}) %>

    <div>
      <%= f.submit("Edit Pokemon Ability") %>
    </div>

  <% end %>
</div>