<% @page_title = "Add Pokemon Item" %>

<%= link_to("<< Back to List", items_pokemons_path(:pokemon_page => params[:pokemon_page], :stat_page => @stat_page, :pokemon_id => params[:pokemon_id])) %>

<div>
  <h2>Add Pokemon Item</h2>

  <%= form_for(@items_pokemon, :url => items_pokemons_path(@items_pokemon, :pokemon_page => params[:pokemon_page], :stat_page => @stat_page, :pokemon_id => params[:pokemon_id])) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f, :mode => :new}) %>

    <div>
      <%= f.submit("Add Pokemon Item") %>
    </div>

  <% end %>
</div>