<% @page_title = "Delete Species" %>

<%= link_to("<< Back to List", species_index_path(:page => params[:page])) %>

<div>
  <h2>Remove Pokemon Type</h2>

  <%= form_for(@species, :method => 'delete', :url => species_path(@species, :page => params[:page])) do |f| %>

    <p>Are you sure you want to permanently remove this Species?</p>

    <p><%= "(id #{f.object.id}) #{f.object.name}"  %></p>

    <div>
      <%= f.submit("Delete Species") %>
    </div>

  <% end %>
</div>