<% @page_title = "Edit Species" %>

<%= link_to("<< Back to List", species_index_path(:page => params[:page])) %>

<div>
  <h2>Edit Species</h2>

  <%= form_for(@species, :url => species_path(@species, :page => params[:page])) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f, :mode => :edit}) %>

    <div>
      <%= f.submit("Edit Species") %>
    </div>

  <% end %>
</div>