<% @page_title = "Create Sprite" %>

<%= link_to("<< Back to List", sprites_path(:pokemon_id => params[:pokemon_id], :pokemon_page => params[:pokemon_page], :page => params[:page])) %>

<div>
  <h2>Create Sprite</h2>

  <%= form_for(@sprite, :url => sprites_path(@sprite, :pokemon_id => params[:pokemon_id], :pokemon_page => params[:pokemon_page], :page => params[:page])) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f, :mode => :new}) %>

    <div>
      <%= f.submit("Create Sprite") %>
    </div>

  <% end %>
</div>