<% @page_title = "Create Ability" %>

<%= link_to("<< Back to List", abilities_path(:page => params[:page])) %>

<div>
  <h2>Create Ability</h2>

  <%= form_for(@ability, :url => abilities_path(@ability, :page => params[:page])) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f, :mode => :new}) %>

    <div>
      <%= f.submit("Create Ability") %>
    </div>

  <% end %>
</div>