<% @page_title = "Edit Item" %>

<%= link_to("<< Back to List", items_path(:page => params[:page])) %>

<div>
  <h2>Edit Item</h2>

  <%= form_for(@item, :url => item_path(@item, :page => params[:page])) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f, :mode => :edit}) %>

    <div>
      <%= f.submit("Edit Item") %>
    </div>

  <% end %>
</div>