<% @page_title = "Create Item" %>

<%= link_to("<< Back to List", items_path(:page => params[:page])) %>

<div>
  <h2>Create Item</h2>

  <%= form_for(@item, :url => items_path(@item, :page => params[:page])) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f, :mode => :new}) %>

    <div>
      <%= f.submit("Create Item") %>
    </div>

  <% end %>
</div>