<% @page_title = "Add Pokemon Move" %>

<%= link_to("<< Back to List", moves_pokemons_path(:pokemon_page => params[:pokemon_page], :stat_page => @stat_page, :pokemon_id => params[:pokemon_id])) %>

<div>
  <h2>Add Pokemon Move</h2>

  <%= form_for(@moves_pokemon, :url => moves_pokemons_path(@moves_pokemon, :pokemon_page => params[:pokemon_page], :stat_page => @stat_page, :pokemon_id => params[:pokemon_id])) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f, :mode => :new}) %>

    <div>
      <%= f.submit("Add Pokemon Move") %>
    </div>

  <% end %>
</div>