<% @page_title = "New Pokemon" %>

<%= link_to("<< Back to List", pokemons_path(:pokemon_page => @pokemon_page)) %>

<div class="subjects new">
  <h2>Create Custom Pokemon</h2>

  <%= form_for(@pokemon) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f, :mode => :new}) %>

    <div>
      <%= f.submit("Create Pokemon") %>
    </div>

  <% end %>
</div>
